.container {
    position: relative;
    background-color: burlywood;
    background-size: 100%;
    height: 100%;
  }
  
  #clip {
    position: absolute;
    clip: rect(400px, 900px, 1300px, 280px);
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
  }
  
  
  /* centered columns styles */
  
  h1 {
    color: #fff;
  }
  .footer {
    color: #fff;
  }
  a {
      color: #fff;
  }
  .row-centered {
    text-align: center;
  }
  
  .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
  }
  
  .col-fixed {
    /* custom width */
    width: 320px;
  }
  
  .col-min {
    /* custom min width */
    min-width: 320px;
  }
  
  .table-box {
    border-collapse: separate;
    border: 0px solid #000000;
  }
  
  .table-box thead > tr > th {
    border-bottom: 0px solid #000000;
  }
  
 