 .map-container{
    overflow:hidden;
    padding-bottom:10%;
    position:relative;
 }

    iframe{
      border-radius: 25px;
      width:100%;
    }
    .center_align{
      display: flex;
      justify-content: center;
      }

     .contact-icon {
        margin-right: 10px;
    }

    .btn_box{
      border-radius: 20px;
      margin: 0 5px;
      padding: 10px 50px;
      
  }
  
  .button_width{
    width: 25rem;
  }

  .button_margin{
    margin-top: 6rem;
    margin-left: 130px;
  }

  @media screen and (max-width: 600px) {
   .button_width{
     width:13rem;
   }
   iframe{
     width:100%;
   }
   .button_margin{
     margin-top:2rem;
     margin-left:11px;
   }
  }
