 .map-container{
    overflow:hidden;
    padding-bottom:10%;
    position:relative;
    height:0;
    border-radius: 5px;
    }
    .map-container iframe{
    height:100%;
    width:100%;
    position: absolute;;
    }

    .center_align{
      display: flex;
      justify-content: center;
      }

      .contact-icon {
        margin-right: 10px;
    }

    .btn_box{
      border-radius: 20px;
      margin: 0 5px;
      padding: 10px 50px;
  }
  .button_width{
    width: 25rem;
  }