.navbar {
    padding: 1rem 5% 1rem;
    width: 100%;
    border: solid grey;
    border-width: 0 0 1px;
    background-color: #fff;
   }

.navbar:hover {
    box-shadow: 1px 1px 5px #004aad;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: black;
}

.nav-item {
    padding: 0px 18px;
    color: #004aad;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.btn{
    background-color: #004aad;
    color: #fff;
    border-radius: 20px;
    margin: 0 5px;
    padding: 10px 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown-text{
    font-family: 'Montserrat', sans-serif;
}
