/* Conatiner styling */

body {
    padding: 0;
    margin: 0;
    /* background-color: #e6f6ff; */
}

.container-fluid {
    padding: 0% 5% 0% 5%;
    margin: 10% auto 5%;
}

.wave {
    position: absolute;
    padding: 0;
    margin: 0;
}

.container-post {
    padding: 0% 5% 0% 5%;
    margin: 10% auto;
    min-height: 450rem;
}
.section_padd{
    padding: 1% 0;
}

.section {
    margin: 10% auto;
}

p {
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: 1.5;
}

.center {
    text-align: center;
}

.gradient-bg {
    background: rgb(56, 182, 255);
    background: linear-gradient(90deg, rgba(56, 182, 255, 1) 0%, rgba(71, 141, 255, 1) 55%, rgba(82, 113, 255, 1) 100%);
}

.card{

    margin-bottom: 2rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}
.title-text {
    font-size: 4rem;
    display: inline-block;
    font-weight: 600;
}
.subtitle-text {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 2rem;
    /* dis */
}

/* .counter-text {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;

}
*/

/* .last-text {
    font-size: 1.5rem;
    margin-top: 5rem;


}
*/
#mountain-img {
    width: 110%;
    /* margin: 100px auto; */
    /* text-align: center; */
}
.regular-text {
    font-size: 1.2rem;
    color: gray;
    /* text-align: left; */
}
.small-text {
    font-size: 1rem;
    /* color: gray; */
}
.btn-main {
    background-color: #004aad;
    color: #fff;
    border-radius: 25px;
    margin: 0 5px;
    padding: 10px 50px;
}
.mg-top-2 {
    margin-top: 2rem;
}
.mg-top-1 {
    margin-top: 1rem;
}
@media (max-width: 600px) {
    #mountain-img {
        display: none;
        width: 120%;
        margin: 100px auto;
        /* text-align: center; */
    }
    
    #analyse-img {
        width: 80%;
        margin: 3rem auto;
    }
    
    body {
        text-align: center;
    }
}

/* Analyse  */
.check-icon {
    color: green;
    margin-right: 10px;
}
#analyse {
    padding: 1% 0;
}
.pad-col {
    padding-left: 5%
}

/* Feature */
.feature-card {
    padding: 15% 5%;
    margin-top: 50px;
    border-radius: 10px;
}
.feature-text {
    color: gray;
    margin-bottom: 20px;
}
.feature-icon {
    margin-bottom: 2rem;
    color: blue;
}
.btn-card {
    color: black;
}

/* Benifits */
.padding_top {
    padding: 5% 5%;

}

#benifits .pad-col {
    bottom: 100px;
}
.benifit-image {
    width: 100%;
}
.white {
    color: rgba(255, 255, 255, 0.9);
}
#benifits .pad-col {
    padding: 5% 5%;
}
.benifit-card {
    background-color: transparent;
    /* color: #fff; */
    
    margin-top: 0;
    text-align: left;
}
.benifit-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    color: white;
    padding-top: 17px;
    margin-bottom: 10%;
    text-align: center;
    position: relative;
}

/* Carousel */
.carousel {
    width: 100%;
}
.slide-box {
    display: flex;
    justify-content: space-between;
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}
@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}

/* carosel end */

/* Counter Starts */
#shiva {
    width: 100px;
    height: 100px;
    background: lightblue;
    float: left;
    margin: 5px;
}
.count {
    line-height: 100px;
    color: white;
    margin-left: 30px;
    font-size: 25px;
}

/* Form section */
.form {
    background-color: #fff;
    margin: 2rem auto;
    padding: 10%;
    border-radius: 10px;
}

/* input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* style for submit btn */
.btn-new {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn:hover {
    opacity: 1;
}